/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&display=swap');

body {

    background-color: rgb(92, 83, 83);
    font-family: 'Open Sans', sans-serif;
    padding: 0px;
    margin: 0px;
    height: 960px;
  }



/* Typografi */
 h2{
     font-weight: 100;
     font-size: 35px;
     color:darkblue;
    
 }

.map h2{
margin-left: -245px;}

 h3{
background: rgb(95, 95, 156);
padding: 10px;
color: black;
text-transform: uppercase;
font-family:  'oswald' , sans-serif;
letter-spacing: 1px; 
margin: 0px;
margin-top: -4px;
 }
 .footerbox h3{
   background: none;
   padding: 0px;
   padding-bottom: 10px;
 }
 .resmal_info {
     font-size: 0.9em;
     line-height: 1.5em;
  }

  /* LAYOUT / STRUKTUR */

  .wrapper {

    width: 90%;

    max-width: 960px;

    min-height: 1500px; 

    background: rgb(255, 255, 255); 

    min-width: 400px;

    /* Lägg wrappern i mitten av sida */

    margin-left: auto;

    margin-right: auto;

  }



  header{

 

      height:160px;

  }

.resmal{
    width: 32%;
    float: left;
    margin-right: 1%;
}
.resmal img{
    width: 100%
}

footer{
  background-color: rgb(130, 130, 170); 
  background-image: url(../buss2.png.jpg);

   background-size: 100%;
   background-repeat: no-repeat ;
   width: auto;
   background-size: 100%;
   height: 600px;
   padding-top:130px;

   
}
.inner_footer{

  width: 960px;
  height: 320px;
  margin-left: auto;
  margin-right: auto;
}



.footerbox{
  width: 32%;
  height: 300px;
  margin-left: 1%;


float: left;
color: white;
font-size: 18px;

}
.footerbox img{
  margin-right: 10px;
}



  .logo{

    

      width: 35%;



      float:left;

  }

.logo img{

border-radius: 35px;

width: 100px;

}

  nav.meny{

 

      width: 55%;

      float:right;

      margin-top: 25px;

  }



.imagesbar{

    background: rgb(255, 255, 255);

background-image:url(../buss2.png.jpg);

background-size: 100%;


    background-repeat: no-repeat;

    width: auto;

    height: 600px;



    

}

 

  /* Meny */

  nav{}



  nav ul{

      list-style: none;

      padding: 0px;

      text-align: right;



  }



  nav li{

      display:inline;

    margin-left: 10px;  



  }



  nav a{

    font-family:  'oswald' , sans-serif;
    text-decoration: none;

      color: black;

      font-size: 14px;

      text-transform: uppercase;

      background: white;

      padding: 10px;

      padding-bottom: 8px;

      border-radius: 5px;

  }



  nav a:hover{

      font-size: 15px;

      background: rgb(25, 51, 168);

      color: white;

  }
